<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Twitter Clone</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body> 
  <nav><a href="/login"><img id="logo" src="/assets/img/face.png" alt="face logo"/></a>
    <div class="navlink"><a id="loginButton" href="/login">Login</a></div>
    <div class="navlink"><a id="signupButton" href="/signup">Sign up</a></div>
  </nav>

  <section id="content">

  </section>
  <span id="errorMessage" class="hidden"></span>

  <script src="/assets/loginBundle.js"></script>
</body>
</html>
