<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Settings</title>
    <link rel="shortcut icon" href="/assets/img/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>
    <nav>
        <a href="/login"><img id="logo" src="/assets/img/diary.png" alt="face logo" /></a>
        <div class="navlink"><a href="/">Home</a></div>
        <div class="navlink"><a href="/logout">Log out</a></div>
    </nav>
    <section id="settings">

    </section>
    <span id="errorMessage" class="hidden"></span>

    <script src="/assets/loginBundle.js"></script>
</body>

</html>